@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Define una variable*/
:root {
    --fuente-logo: 'Montserrat', sans-serif;
    --fuente-principal: 'Inter', sans-serif;

    --color-logo: #343C6A;
    --color-background: #3050cc;
    --color-dark-blue: #1976d2;
    --color-light-blue: #2196f3;
    --color-blue-background: #d1eaff;
    --color-white: #fff;
    --color-dark-white: #ddd;
    --color-light-background: #f0f0f0;
    --color-light-background-2: #F5F7FA;
    --color-black: #000;
    --color-grey: #333;
    --color-light-grey: #666;
    --color-column-title: #718EBF;
    --color-red: #f44336;
    --color-green: #4caf50;
    --color-blue-background: #e3f2fd;
    --color-pink-background: #fce4ec;
    --color-yellow-background: #fff8e1;
}
  
  .discount-list {
    border-radius: 10px;
    padding: 20px;
  }
  
  .discount-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--color-white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  .icon img{
    width: 30px;
    height: auto;
  }
  
  .icon.pink { background-color: var(--color-pink-background);}
  .icon.yellow { background-color: var(--color-yellow-background);}
  .icon.blue { background-color: var(--color-blue-background);}
  
  .blue-filter{filter: invert(70%) sepia(20%) saturate(417%) hue-rotate(179deg) brightness(104%) contrast(97%);}
  .pink-filter{filter: invert(70%) sepia(27%) saturate(245%) hue-rotate(292deg) brightness(101%) contrast(88%);}
  .yellow-filter{filter: invert(85%) sepia(42%) saturate(565%) hue-rotate(351deg) brightness(102%) contrast(91%);}

  .details {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .details div {
    display: flex;
    flex-direction: column;
  }
  
  .details strong {
    font-size: 12px;
    color: var(--color-light-grey);
    margin-bottom: 5px;
  }
  
  .details span {
    font-size: 14px;
    color: var(--color-grey);
  }
  