/* Importa la fuente*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Define una variable*/
:root {
    --fuente-logo: 'Montserrat', sans-serif;
    --fuente-principal: 'Inter', sans-serif;

    --color-logo: #343C6A;
    --color-background: #3050cc;
    --color-dark-blue: #1976d2;
    --color-light-blue: #2196f3;
    --color-white: #fff;
    --color-dark-white: #ddd;
    --color-light-background: #f0f0f0;
    --color-light-background-2: #F5F7FA;
    --color-black: #000;
    --color-grey: #333;
    --color-light-grey: #666;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-logo);
    font-style: italic;
    font-weight: bold;
}
.logo h1{
    margin-left: 10px;
    color: var(--color-logo);
}

/* General styles */
body {
    font-family: var(--fuente-principal) !important;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* Form styles */
.login-form {
    width: 400px;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 30px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 150px;
}

h2 {
    text-align: center;
    color: var(--color-grey);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-light-grey);
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-dark-white);
    border-radius: 4px;
    font-size: 16px;
}

.password-input {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: var(--color-light-blue);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--color-dark-blue);
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: var(--color-light-grey);
}

.signup-link a {
    color: var(--color-light-blue);
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}


.bottom-button {
    margin-top: 120%;
    padding: 20px;
    text-align: center;
}

.btn-logout {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--color-light-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-logout:hover {
    background-color: var(--color-dark-blue);
}


